<div class="body-sub" cdkDrag cdkDragBoundary=".modal" cdkDragRootElement=".modal-content">
    <app-com-header cdkDragHandle [PAGE_TITLE]="PageTitle" [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM"
        [ELE_REF]="elementRef" (CLOSE_FUNC)="BT_FUNC1_Click()">
    </app-com-header>
    <div class="sub-content">
        <div class="sub-content-detail">
            <p style="width: 500px;">DANH SÁCH KHÁCH HÀNG</p>
            <hr class="double-line">
            <div class="float-left" style="width: 1024px;">
                <wj-flex-grid style="height: 310px;" #sprInfoCustomer [allowSorting]="false">
                    <wj-flex-grid-column [align]="'center'" [binding]="'ID'" [header]="'ID'"
                        [isReadOnly]="true" [width]="70"></wj-flex-grid-column>
                    <wj-flex-grid-column [align]="'left'" [binding]="'FULLNAME'" [header]="'Họ tên khách hàng'"
                        [isReadOnly]="true" [width]="200"></wj-flex-grid-column>
                    <wj-flex-grid-column [align]="'left'" [binding]="'ADDRESS'" [header]="'Địa chỉ'" [isReadOnly]="true"
                        [width]="260"></wj-flex-grid-column>
                    <wj-flex-grid-column [align]="'left'" [binding]="'PHONENUMBER'" [header]="'Số điện thoại'"
                        [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [align]="'left'" [binding]="'IDENTITYID'" [header]="'Mã xác minh'"
                        [isReadOnly]="true" [width]="140"></wj-flex-grid-column>
                    <wj-flex-grid-column [align]="'left'" [binding]="'IDENTITYTYPE'" [header]="'Tên loại xác minh'"
                        [isReadOnly]="true" [width]="'*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <app-com-footer [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM" [FUNC01_Text]="BT_FUNC1_NAME"
        [FUNC02_Text]="BT_FUNC2_NAME" [FUNC03_Text]="BT_FUNC3_NAME" (FUNC01)="BT_FUNC1_Click()"
        (FUNC02)="BT_FUNC2_Click()" (FUNC03)="BT_FUNC3_Click()">
    </app-com-footer>
</div>