<div class="body-sub" cdkDrag cdkDragBoundary=".modal" cdkDragRootElement=".modal-content">
    <app-com-header cdkDragHandle [PAGE_TITLE]="PageTitle" [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM"
        [ELE_REF]="elementRef" (CLOSE_FUNC)="BT_FUNC1_Click()">
    </app-com-header>
    <div class="sub-content">
        <div class="sub-content-detail">
            <p style="width: 500px;">THAY ĐỔI MẬT KHẨU</p>
            <hr class="double-line">
            <table id="inputInfo" style="width: 350px; margin: auto;">
                <tr>
                    <td style="width: 300px;">Tài khoản:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-mask #username style="width: 300px;" [isDisabled]="true"></wj-input-mask>
                    </td>
                </tr>
                <tr>
                    <td>Mật khẩu hiện tại:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-mask #passwordOld style="width: 300px;"></wj-input-mask>
                    </td>
                </tr>
                <tr>
                    <td>Mật khẩu mới:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-mask #passwordNew style="width: 300px;"></wj-input-mask>
                    </td>
                </tr>
                <tr>
                    <td>Nhắc lại mật khẩu:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-mask #confirmedPassword style="width: 300px;"></wj-input-mask>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <app-com-footer [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM" [FUNC01_Text]="BT_FUNC1_NAME"
        [FUNC02_Text]="BT_FUNC2_NAME" [FUNC03_Text]="BT_FUNC3_NAME" (FUNC01)="BT_FUNC1_Click()"
        (FUNC02)="BT_FUNC2_Click()" (FUNC03)="BT_FUNC3_Click()">
    </app-com-footer>
</div>