<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="sub-content-footer">
        <table class="func-bar" border="0" cellpadding="0" cellspacing="0" (mouseover)="onMouseOver($event.target)"
            (mouseout)="onMouseOut($event.target)">
            <tr>
                <td align="middle" width="10%">
                    <button type="button" id="BT_FUNC1" style="background-color: #6aa2a2;" class="funcbutton"
                        (click)="BT_FUNC_01_Click()" [attr.disabled]="(FUNC_01_Text == '')?'': null">{{FUNC_01_Text}}</button>
                </td>
                <td align="middle" width="10%">
                    <button type="button" id="BT_FUNC2" style="background-color: aqua;" class="funcbutton"
                        (click)="BT_FUNC_02_Click()" [attr.disabled]="(FUNC_02_Text == '')?'': null">{{FUNC_02_Text}}</button>
                </td>
                <td align="middle" width="10%">
                    <button type="button" id="BT_FUNC3" style="background-color: palevioletred;" class="funcbutton"
                        (click)="BT_FUNC_03_Click()" [attr.disabled]="(FUNC_03_Text == '')?'': null">{{FUNC_03_Text}}</button>
                </td>
            </tr>
        </table>
        <table cellSpacing="1" cellPadding="1" border="1" class="status-bar">
            <tr>
                <td width="50%">
                    <font color="#ffffff">
                        <b style="margin-right: 20px;">Đăng nhập bởi:</b>
                        <b>{{IdUser}}</b>
                    </font>
                </td>
                <td width="50%">
                    <font color="#ffffff">
                        <b style="margin-right: 20px;">Ngày hiện tại:</b>
                        <b>{{DateNow}}</b>
                    </font>
                </td>
            </tr>
        </table>
    </div>
</footer>