<div class="body-sub" cdkDrag cdkDragBoundary=".modal" cdkDragRootElement=".modal-content">
    <app-com-header cdkDragHandle [PAGE_TITLE]="PageTitle" [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM"
        [ELE_REF]="elementRef" (CLOSE_FUNC)="BT_FUNC1_Click()">
    </app-com-header>
    <div class="sub-content">
        <div class="sub-content-detail">
            <p style="width: 500px;">ĐĂNG KÝ THÔNG TIN ĐẶT PHÒNG</p>
            <hr class="double-line">
            <table id="inputInfo" style="width: 350px; margin: auto;">
                <tr>
                    <td style="width: 300px;">Mã khách hàng:</td>
                </tr>
                <tr>
                    <td>
                        <wj-combo-box #ddlCustomerID style="width: 300px;" [displayMemberPath]="'sName'"
                            [selectedValuePath]="'sCode'" [isEditable]="false">
                        </wj-combo-box>
                    </td>
                </tr>
                <tr>
                    <td>Mã phòng:</td>
                </tr>
                <tr>
                    <td>
                        <wj-combo-box #ddlRoomID style="width: 300px;" [displayMemberPath]="'sName'"
                            [selectedValuePath]="'sCode'" [isEditable]="false">
                        </wj-combo-box>
                    </td>
                </tr>
                <tr>
                    <td>Ngày bắt đầu lưu trú:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-date #dateStart style="width: 200px;" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </td>
                </tr>
                <tr>
                    <td>Ngày trả phòng:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-date #dateEnd style="width: 200px;" [format]="'dd/MM/yyyy'"></wj-input-date>
                    </td>
                </tr>
                <tr>
                    <td>Ghi chú:</td>
                </tr>
                <tr>
                    <td>
                        <wj-input-mask #note style="width: 300px;"></wj-input-mask>
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <app-com-footer [GAMEN_ID]="GamenId" [APP_PARAM]="APP_PARAM" [FUNC01_Text]="BT_FUNC1_NAME"
        [FUNC02_Text]="BT_FUNC2_NAME" [FUNC03_Text]="BT_FUNC3_NAME" (FUNC01)="BT_FUNC1_Click()"
        (FUNC02)="BT_FUNC2_Click()" (FUNC03)="BT_FUNC3_Click()">
    </app-com-footer>
</div>